
@media only screen and (max-width: 1200px) {
    .header {
        display: none;
    }

    /*========================================================*/
    MOBILE_MENU
    .bar {
        display: block;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

    .hamburger.actived .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.actived .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.actived .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu {
        display: flex;
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        width: 100%;
        text-align: center;
        z-index: 100;
        transition: 0.3s;
    }

    .nav-item {
        margin: 16px 0;

    }

    .navbar {
        background: rgba(0, 0, 0, 0.7);
    }

    .nav-menu.actived {
        background: rgba(0, 0, 0, 0.7);
    }

    .nav-menu.actived {
        left: 0;
    }

    .logo-text {
        font-family: 'Raleway', sans-serif;
        color: #FFFFFF;
        font-weight: 300;
    }

    .lang .material-symbols-outlined {
        font-weight: 500;
        font-size: 29px;
    }
}

@media only screen and (max-width: 992px){
    .header {
        display: none;
    }
    /*========================================================*/
    /*MOBILE_MENU*/
    .bar {
        display: block;
    }
    .hamburger {
        display: block;
        cursor: pointer;
    }
    .hamburger.actived .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.actived .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.actived .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
    .nav-menu {
        display: flex;
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        width: 100%;
        text-align: center;
        z-index: 100;
        transition: 0.3s;
    }
    .nav-item {
        margin: 16px 0;

    }
    .navbar {
        background: rgba(0, 0, 0, 0.7);
    }
    .nav-menu.actived {
        background: rgba(0, 0, 0, 0.7);
    }
    .nav-menu.actived{
        left: 0;
    }
    .logo-text {
        font-family: 'Raleway', sans-serif;
        color: #FFFFFF;
        font-weight: 300;
    }
    .lang .material-symbols-outlined {
        font-weight: 500;
        font-size: 29px;
    }
    /*=====================================================*/

}

@media only screen and (max-width: 768px){

}

@media only screen and (max-width: 480px){

}

@media only screen and (max-width: 320px){

}